@charset "utf-8";
/* CSS Document */
body{
	background: url("../images/bg.jpg") no-repeat;
	background-size: 100%;
}
.center{
	width:100%;
	height:400px;

}
video{
	width:1000px;
	height:500px;
	margin-left: 130px;
	cursor: pointer;
}
span{
	margin-left:450px;
	font-family: "宋体",Arial;
	font-size:30px;
	color:#999;
}
.stop{
	width: 60px;
	height: 60px;
	border-radius:60px ;
	border: solid 1px white;
	color: #666666;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 50%;
	font-size: 90px;
	z-index: 50;
}
.scrollimg{
	margin-left: 13%;
}
.scrollimg img{
	cursor: pointer;
}
.two-logo{
	position:fixed;
	top: 130px;
	left: 450px;
	z-index: 1;
	display: none;
}
.two-logo img{
	width: 390px;
	height: 470px;
}
.closedown{
	cursor: pointer;
	width: 20px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: 385px;
	top: 8px;
	z-index: 2;
	color: #dddddd;
	font-size: 20px;
	font-family: "Times New Roman";
}